.austria{
    border: 1px solid black;
    width: 150px;
    height: 90px;
    border: none;
  
}

.b1 , .b2 , .b3{
    border: 1px solid black;
    width: 150px;
    height: 29px;
}


.b1{
    background-color: red;
    border: none;

}

.b2{
    background-color: white;
    border: none;

}


.b3{
    background-color: green;
    border: none;

}


